.saved-news-header {
  background: #ffffff;
  max-width: 1440px;
  padding-left: 104px;
  height: 294px;
  color: #1a1b22;
  display: flex;
  flex-direction: column;
}

.saved-news-header__section {
  margin: 40px 0 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__title {
  max-width: 530px;
  margin: 28px 0 0;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.saved-news-header__username {
  max-width: 530px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}

.saved-news-header__themes {
  margin: 30px 0 56px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
