.header {
  max-width: 1440px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  color: #ffffff;
  margin: auto;
}

.header__dark {
  color: #1a1b22;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 104px;
}

.header__logo {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}

.header__link-distributions {
  display: flex;
  align-items: center;
}

.header__link-container {
  padding: 30px 11px 26px 13px;
  display: inline-block;
  margin-right: 34px;
}

.header__link-container-active {
  border-bottom: 3px solid #ffffff;
}

.header__link-container-active-dark {
  border-bottom: 3px solid #1a1b22;
}

.header__link-container-disabled {
  display: none;
}

.header__link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}

.header__button {
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: inherit;
  padding: 12px;
}

.header__button-dark {
  border: 1px solid #1a1b22;
}

.header__button:hover {
  cursor: pointer;
}
