.header {
  max-width: 1440px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  color: #ffffff;
  margin: 0 auto;
}

.header__container {
  max-width: 1232px;
  margin: 0 auto;
}

.header__light {
  color: #1a1b22;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1232px) {
  .header__container {
    max-width: 688px;
  }
}

@media screen and (max-width: 320px) {
  .header__container {
    max-width: 288px;
  }

  .header__logo {
    font-size: 16px;
  }
}
